html {
  scroll-padding-top: 74px !important;
  scroll-behavior: smooth;
}

iframe[src*="spotify.com"] {
  border-radius: 25px;
}

a:visited {
  color: #3B38FF;
}

::selection {
    #3B38FF!important;
}

</style>
